* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: large;
}
.container {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

}
.container > div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.container > div > div {
    flex: 1
}

input{
    width: 77px;
    text-align: center;
}